
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @Html.ActionLink("Search Product", "Search", "Product")
    <table cellpadding="2" cellspacing="2" border="1">
        <tr>
           <th>ID</th>
            <th>Name</th>

            <th>Price</th>

        </tr>

        @foreach(var p in ViewBag.result)
        {
            <tr>
                <td>@p.ID</td>
                <td>@p.Name</td>
                <td>@p.Price</td>
            </tr>
        }

    </table>
</body>
</html>
